<!--<mat-card>
  Mi role es : {{role}}
</mat-card>-->
<div class="component-container">
  <div fxLayout="row">
    <div fxFlex></div>

    <div fxFlex="50">
      <mat-card>
        <mat-card-title>Registration</mat-card-title>
        <mat-card-content>

          <form [formGroup]="registerForm" class="form-horizontal" (ngSubmit)="onSubmit()">


            <div>
              <mat-form-field>
                <input matInput placeholder="Enter your first name" formControlName="FirstName" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Enter your last name" formControlName="LastName" required>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput placeholder="Enter your user name" formControlName="username" required>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput placeholder="Enter your email" formControlName="email" required>
                <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input type="password" matInput placeholder="Enter your password" formControlName="password" required>
                <!--<mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="f.password.errors.minlength">Password must be at least 6 characters</mat-error>-->
              </mat-form-field>
            </div>

            <mat-error *ngIf="descriptionError" class="alert alert-danger">{{descriptionError}}</mat-error>

            <mat-card-actions fxLayout="row">
              <div fxFlex>
                <button [disabled]="loading" mat-raised-button color="primary">Register</button>
              </div>
              <div fxFlex>
                <button [routerLink]="['/login']" mat-raised-button color="accent">Cancel</button>
              </div>
            </mat-card-actions>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex></div>
  </div>
</div>

  







